openapi: 3.0.0
info:
  title: Travel Planner Library Service API
  description: API для сервиса библиотеки маршрутов, предоставляющего данные о публичных маршрутах
  version: 1.0.0
servers:
  - url: https://api.travelplanner.com/library
    description: Основной сервер API
tags:
  - name: public-routes
    description: Операции с публичными маршрутами
  - name: reviews
    description: Операции с отзывами к маршрутам
  - name: collaborative
    description: Операции для совместного редактирования
  - name: notifications
    description: Уведомления об изменениях

paths:
  /routes:
    get:
      tags:
        - public-routes
      summary: Получение списка публичных маршрутов
      description: Возвращает список публичных маршрутов с возможностью фильтрации
      parameters:
        - name: country
          in: query
          description: Фильтр по стране
          schema:
            type: string
          example: "Italy"
        - name: city
          in: query
          description: Фильтр по городу
          schema:
            type: string
          example: "Rome"
        - name: minDuration
          in: query
          description: Минимальная длительность в днях
          schema:
            type: integer
            minimum: 1
          example: 3
        - name: maxDuration
          in: query
          description: Максимальная длительность в днях
          schema:
            type: integer
            minimum: 1
          example: 14
        - name: rating
          in: query
          description: Минимальный рейтинг маршрута
          schema:
            type: number
            format: float
            minimum: 0
            maximum: 5
          example: 4.5
        - name: page
          in: query
          description: Номер страницы (пагинация)
          schema:
            type: integer
            minimum: 1
            default: 1
          example: 1
        - name: limit
          in: query
          description: Количество записей на странице
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          example: 20
      responses:
        '200':
          description: Успешное получение списка маршрутов
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - pagination
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RoutePreview'
                    description: Список маршрутов
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '400':
          description: Неверный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - public-routes
      summary: Публикация маршрута в библиотеке
      description: Размещение маршрута в публичной библиотеке
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - routeId
                - title
                - description
              properties:
                routeId:
                  type: string
                  format: uuid
                  description: ID маршрута из planner-сервиса
                  example: "550e8400-e29b-41d4-a716-446655440000"
                title:
                  type: string
                  description: Заголовок для публичного маршрута
                  maxLength: 100
                  example: "Итальянское приключение"
                description:
                  type: string
                  description: Описание маршрута
                  maxLength: 2000
                  example: "Путешествие по историческим городам Италии"
                tags:
                  type: array
                  items:
                    type: string
                  description: Теги для улучшения поиска
                  example: ["Италия", "культура", "туризм"]
      responses:
        '201':
          description: Маршрут успешно опубликован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicRoute'
        '400':
          description: Неверный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Пользователь не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Доступ запрещен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /routes/{routeId}:
    get:
      tags:
        - public-routes
      summary: Получение детальной информации о маршруте
      description: Возвращает полную информацию о публичном маршруте
      parameters:
        - name: routeId
          in: path
          required: true
          description: ID публичного маршрута
          schema:
            type: string
            format: uuid
          example: "550e8400-e29b-41d4-a716-446655440000"
      responses:
        '200':
          description: Успешное получение маршрута
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicRouteDetail'
        '404':
          description: Маршрут не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - public-routes
      summary: Обновление публичного маршрута
      description: Обновляет информацию о публичном маршруте
      security:
        - bearerAuth: []
      parameters:
        - name: routeId
          in: path
          required: true
          description: ID публичного маршрута
          schema:
            type: string
            format: uuid
          example: "550e8400-e29b-41d4-a716-446655440000"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: Обновленный заголовок
                  maxLength: 100
                  example: "Обновленное итальянское приключение"
                description:
                  type: string
                  description: Обновленное описание
                  maxLength: 2000
                  example: "Обновленное путешествие по Италии"
                tags:
                  type: array
                  items:
                    type: string
                  description: Обновленные теги
                  example: ["Италия", "туризм", "обновлено"]
      responses:
        '200':
          description: Маршрут успешно обновлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicRoute'
        '400':
          description: Неверный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Пользователь не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Доступ запрещен (не владелец)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Маршрут не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - public-routes
      summary: Удаление публичного маршрута
      description: Удаляет маршрут из публичной библиотеки
      security:
        - bearerAuth: []
      parameters:
        - name: routeId
          in: path
          required: true
          description: ID публичного маршрута
          schema:
            type: string
            format: uuid
          example: "550e8400-e29b-41d4-a716-446655440000"
      responses:
        '204':
          description: Маршрут успешно удален
        '401':
          description: Пользователь не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Доступ запрещен (не владелец или не администратор)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Маршрут не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /routes/{routeId}/reviews:
    get:
      tags:
        - reviews
      summary: Получение отзывов о маршруте
      description: Возвращает список отзывов для конкретного маршрута
      parameters:
        - name: routeId
          in: path
          required: true
          description: ID публичного маршрута
          schema:
            type: string
            format: uuid
          example: "550e8400-e29b-41d4-a716-446655440000"
        - name: page
          in: query
          description: Номер страницы (пагинация)
          schema:
            type: integer
            minimum: 1
            default: 1
          example: 1
        - name: limit
          in: query
          description: Количество записей на странице
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          example: 20
      responses:
        '200':
          description: Успешное получение отзывов
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - pagination
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Review'
                    description: Список отзывов
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '404':
          description: Маршрут не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - reviews
      summary: Добавление отзыва к маршруту
      description: Создает новый отзыв для маршрута
      security:
        - bearerAuth: []
      parameters:
        - name: routeId
          in: path
          required: true
          description: ID публичного маршрута
          schema:
            type: string
            format: uuid
          example: "550e8400-e29b-41d4-a716-446655440000"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - rating
              properties:
                rating:
                  type: number
                  format: float
                  minimum: 1
                  maximum: 5
                  description: Оценка от 1 до 5
                  example: 4.5
                comment:
                  type: string
                  maxLength: 1000
                  description: Комментарий к отзыву (необязательно)
                  example: "Отличный маршрут, рекомендую!"
      responses:
        '201':
          description: Отзыв успешно добавлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Review'
        '400':
          description: Неверный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Пользователь не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Маршрут не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Отзыв от этого пользователя уже существует
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /routes/{routeId}/reviews/{reviewId}:
    put:
      tags:
        - reviews
      summary: Обновление отзыва
      description: Обновляет существующий отзыв
      security:
        - bearerAuth: []
      parameters:
        - name: routeId
          in: path
          required: true
          description: ID публичного маршрута
          schema:
            type: string
            format: uuid
          example: "550e8400-e29b-41d4-a716-446655440000"
        - name: reviewId
          in: path
          required: true
          description: ID отзыва
          schema:
            type: string
            format: uuid
          example: "a1b2c3d4-e5f6-4g7h-8i9j-0k1l2m3n4o5p"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                rating:
                  type: number
                  format: float
                  minimum: 1
                  maximum: 5
                  description: Обновленная оценка
                  example: 4.8
                comment:
                  type: string
                  maxLength: 1000
                  description: Обновленный комментарий
                  example: "Обновленный отзыв: маршрут стал еще лучше!"
      responses:
        '200':
          description: Отзыв успешно обновлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Review'
        '400':
          description: Неверный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Пользователь не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Доступ запрещен (не автор отзыва)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Маршрут или отзыв не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - reviews
      summary: Удаление отзыва
      description: Удаляет отзыв к маршруту
      security:
        - bearerAuth: []
      parameters:
        - name: routeId
          in: path
          required: true
          description: ID публичного маршрута
          schema:
            type: string
            format: uuid
          example: "550e8400-e29b-41d4-a716-446655440000"
        - name: reviewId
          in: path
          required: true
          description: ID отзыва
          schema:
            type: string
            format: uuid
          example: "a1b2c3d4-e5f6-4g7h-8i9j-0k1l2m3n4o5p"
      responses:
        '204':
          description: Отзыв успешно удален
        '401':
          description: Пользователь не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Доступ запрещен (не автор отзыва и не администратор)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Маршрут или отзыв не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /routes/{routeId}/copy:
    post:
      tags:
        - public-routes
      summary: Копирование публичного маршрута в личные
      description: Копирует публичный маршрут в личные маршруты пользователя
      security:
        - bearerAuth: []
      parameters:
        - name: routeId
          in: path
          required: true
          description: ID публичного маршрута
          schema:
            type: string
            format: uuid
          example: "550e8400-e29b-41d4-a716-446655440000"
      responses:
        '201':
          description: Маршрут успешно скопирован
          content:
            application/json:
              schema:
                type: object
                required:
                  - id
                  - message
                properties:
                  id:
                    type: string
                    format: uuid
                    description: ID нового личного маршрута
                    example: "6b7c8d9e-0f1g-2h3i-4j5k-6l7m8n9o0p1"
                  message:
                    type: string
                    description: Сообщение об успешном копировании
                    example: "Маршрут успешно скопирован в личные"
        '401':
          description: Пользователь не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Маршрут не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /routes/{routeId}/map:
    get:
      tags:
        - public-routes
      summary: Получение данных для карты маршрута
      description: Возвращает данные для отображения маршрута на карте
      parameters:
        - name: routeId
          in: path
          required: true
          description: ID публичного маршрута
          schema:
            type: string
            format: uuid
          example: "550e8400-e29b-41d4-a716-446655440000"
      responses:
        '200':
          description: Успешное получение данных для карты
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RouteMapData'
        '404':
          description: Маршрут не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /routes/shared/{routeId}/updates:
    get:
      tags:
        - collaborative
      summary: Получение статуса обновлений маршрута
      description: Проверяет, есть ли обновления в совместно редактируемом маршруте
      security:
        - bearerAuth: []
      parameters:
        - name: routeId
          in: path
          required: true
          description: ID совместно редактируемого маршрута
          schema:
            type: string
            format: uuid
          example: "550e8400-e29b-41d4-a716-446655440000"
        - name: lastSyncTimestamp
          in: query
          required: true
          description: Временная метка последней синхронизации
          schema:
            type: string
            format: date-time
          example: "2023-10-01T12:00:00Z"
      responses:
        '200':
          description: Статус обновлений
          content:
            application/json:
              schema:
                type: object
                required:
                  - hasUpdates
                  - lastModified
                properties:
                  hasUpdates:
                    type: boolean
                    description: Флаг наличия обновлений
                    example: true
                  lastModified:
                    type: string
                    format: date-time
                    description: Временная метка последнего изменения
                    example: "2023-10-02T14:30:00Z"
                  modifiedBy:
                    type: string
                    description: Имя пользователя, внесшего последние изменения
                    example: "user123"
        '401':
          description: Пользователь не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Доступ запрещен (нет доступа к маршруту)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Маршрут не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /routes/shared/{routeId}/notifications/subscribe:
    put:
      tags:
        - notifications
      summary: Подписка на уведомления об изменениях
      description: Подписывает пользователя на получение уведомлений об изменениях в маршруте
      security:
        - bearerAuth: []
      parameters:
        - name: routeId
          in: path
          required: true
          description: ID совместно редактируемого маршрута
          schema:
            type: string
            format: uuid
          example: "550e8400-e29b-41d4-a716-446655440000"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - deviceToken
              properties:
                deviceToken:
                  type: string
                  description: Токен устройства для push-уведомлений
                  example: "abc123xyz789"
      responses:
        '200':
          description: Успешная подписка
          content:
            application/json:
              schema:
                type: object
                required:
                  - message
                properties:
                  message:
                    type: string
                    description: Сообщение об успешной подписке
                    example: "Подписка на уведомления успешно оформлена"
        '401':
          description: Пользователь не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Доступ запрещен (нет доступа к маршруту)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Маршрут не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /routes/shared/{routeId}/notifications/unsubscribe:
    put:
      tags:
        - notifications
      summary: Отписка от уведомлений об изменениях
      description: Отписывает пользователя от получения уведомлений об изменениях в маршруте
      security:
        - bearerAuth: []
      parameters:
        - name: routeId
          in: path
          required: true
          description: ID совместно редактируемого маршрута
          schema:
            type: string
            format: uuid
          example: "550e8400-e29b-41d4-a716-446655440000"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - deviceToken
              properties:
                deviceToken:
                  type: string
                  description: Токен устройства для push-уведомлений
                  example: "abc123xyz789"
      responses:
        '200':
          description: Успешная отписка
          content:
            application/json:
              schema:
                type: object
                required:
                  - message
                properties:
                  message:
                    type: string
                    description: Сообщение об успешной отписке
                    example: "Отписка от уведомлений успешно выполнена"
        '401':
          description: Пользователь не авторизован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Подписка не найдена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    RoutePreview:
      type: object
      required:
        - id
        - title
        - description
        - author
        - duration
        - rating
        - reviewsCount
        - createdAt
      properties:
        id:
          type: string
          format: uuid
          description: Идентификатор публичного маршрута
          example: "550e8400-e29b-41d4-a716-446655440000"
        title:
          type: string
          description: Название маршрута
          example: "Итальянское приключение"
        description:
          type: string
          description: Краткое описание маршрута
          example: "Путешествие по Италии"
        author:
          type: object
          required:
            - id
            - username
          properties:
            id:
              type: string
              format: uuid
              description: ID автора
              example: "123e4567-e89b-12d3-a456-426614174000"
            username:
              type: string
              description: Имя пользователя автора
              example: "travelLover"
            avatarUrl:
              type: string
              format: uri
              nullable: true
              description: URL аватара автора
              example: "https://example.com/avatar.jpg"
        countries:
          type: array
          items:
            type: string
          description: Список стран в маршруте
          example: ["Italy"]
        cities:
          type: array
          items:
            type: string
          description: Список городов в маршруте
          example: ["Rome", "Florence"]
        duration:
          type: integer
          description: Продолжительность в днях
          example: 7
        rating:
          type: number
          format: float
          description: Средний рейтинг маршрута
          example: 4.5
        reviewsCount:
          type: integer
          description: Количество отзывов
          example: 25
        previewImageUrl:
          type: string
          format: uri
          nullable: true
          description: URL превью изображения
          example: "https://example.com/preview.jpg"
        tags:
          type: array
          items:
            type: string
          description: Теги маршрута
          example: ["Италия", "туризм"]
        createdAt:
          type: string
          format: date-time
          description: Дата создания
          example: "2023-10-01T10:00:00Z"

    PublicRoute:
      type: object
      required:
        - id
        - originalRouteId
        - title
        - description
        - author
        - duration
        - rating
        - reviewsCount
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          format: uuid
          description: Идентификатор публичного маршрута
          example: "550e8400-e29b-41d4-a716-446655440000"
        originalRouteId:
          type: string
          format: uuid
          description: Идентификатор оригинального маршрута
          example: "123e4567-e89b-12d3-a456-426614174000"
        title:
          type: string
          description: Название маршрута
          example: "Итальянское приключение"
        description:
          type: string
          description: Полное описание маршрута
          example: "Путешествие по историческим городам Италии"
        author:
          type: object
          required:
            - id
            - username
          properties:
            id:
              type: string
              format: uuid
              description: ID автора
              example: "123e4567-e89b-12d3-a456-426614174000"
            username:
              type: string
              description: Имя пользователя автора
              example: "travelLover"
            avatarUrl:
              type: string
              format: uri
              nullable: true
              description: URL аватара автора
              example: "https://example.com/avatar.jpg"
        countries:
          type: array
          items:
            type: string
          description: Список стран в маршруте
          example: ["Italy"]
        cities:
          type: array
          items:
            type: string
          description: Список городов в маршруте
          example: ["Rome", "Florence"]
        duration:
          type: integer
          description: Продолжительность в днях
          example: 7
        rating:
          type: number
          format: float
          description: Средний рейтинг маршрута
          example: 4.5
        reviewsCount:
          type: integer
          description: Количество отзывов
          example: 25
        previewImageUrl:
          type: string
          format: uri
          nullable: true
          description: URL превью изображения
          example: "https://example.com/preview.jpg"
        tags:
          type: array
          items:
            type: string
          description: Теги маршрута
          example: ["Италия", "туризм"]
        createdAt:
          type: string
          format: date-time
          description: Дата создания
          example: "2023-10-01T10:00:00Z"
        updatedAt:
          type: string
          format: date-time
          description: Дата обновления
          example: "2023-10-02T14:30:00Z"

    PublicRouteDetail:
      allOf:
        - $ref: '#/components/schemas/PublicRoute'
        - type: object
          required:
            - days
          properties:
            days:
              type: array
              items:
                type: object
                required:
                  - day
                  - places
                properties:
                  day:
                    type: integer
                    description: Номер дня
                    example: 1
                  places:
                    type: array
                    items:
                      type: object
                      required:
                        - id
                        - name
                        - category
                        - location
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: ID места
                          example: "a1b2c3d4-e5f6-4g7h-8i9j-0k1l2m3n4o5p"
                        name:
                          type: string
                          description: Название места
                          example: "Колизей"
                        description:
                          type: string
                          nullable: true
                          description: Описание места
                          example: "Исторический амфитеатр в Риме"
                        category:
                          type: string
                          enum: [attraction, restaurant, hotel, activity, transport, other]
                          description: Категория места
                          example: "attraction"
                        location:
                          type: object
                          required:
                            - lat
                            - lng
                          properties:
                            lat:
                              type: number
                              format: float
                              description: Широта
                              example: 41.8902
                            lng:
                              type: number
                              format: float
                              description: Долгота
                              example: 12.4922
                        startTime:
                          type: string
                          format: time
                          nullable: true
                          description: Время начала посещения
                          example: "09:00"
                        endTime:
                          type: string
                          format: time
                          nullable: true
                          description: Время окончания посещения
                          example: "11:00"
                        imageUrl:
                          type: string
                          format: uri
                          nullable: true
                          description: URL изображения места
                          example: "https://example.com/colosseum.jpg"
              description: Список дней маршрута

    Review:
      type: object
      required:
        - id
        - routeId
        - author
        - rating
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          format: uuid
          description: Идентификатор отзыва
          example: "a1b2c3d4-e5f6-4g7h-8i9j-0k1l2m3n4o5p"
        routeId:
          type: string
          format: uuid
          description: Идентификатор маршрута
          example: "550e8400-e29b-41d4-a716-446655440000"
        author:
          type: object
          required:
            - id
            - username
          properties:
            id:
              type: string
              format: uuid
              description: ID автора
              example: "123e4567-e89b-12d3-a456-426614174000"
            username:
              type: string
              description: Имя пользователя автора
              example: "reviewer123"
            avatarUrl:
              type: string
              format: uri
              nullable: true
              description: URL аватара автора
              example: "https://example.com/reviewer.jpg"
        rating:
          type: number
          format: float
          minimum: 1
          maximum: 5
          description: Оценка от 1 до 5
          example: 4.5
        comment:
          type: string
          nullable: true
          description: Комментарий к отзыву
          example: "Отличный маршрут!"
        createdAt:
          type: string
          format: date-time
          description: Дата создания
          example: "2023-10-01T12:00:00Z"
        updatedAt:
          type: string
          format: date-time
          description: Дата обновления
          example: "2023-10-02T14:00:00Z"

    RouteMapData:
      type: object
      required:
        - routeId
        - title
        - days
      properties:
        routeId:
          type: string
          format: uuid
          description: Идентификатор маршрута
          example: "550e8400-e29b-41d4-a716-446655440000"
        title:
          type: string
          description: Название маршрута
          example: "Итальянское приключение"
        days:
          type: array
          items:
            type: object
            required:
              - day
              - color
              - places
            properties:
              day:
                type: integer
                description: Номер дня
                example: 1
              color:
                type: string
                description: Цвет для отображения дня на карте (в формате hex)
                example: "#FF5733"
              places:
                type: array
                items:
                  type: object
                  required:
                    - id
                    - name
                    - category
                    - location
                    - order
                  properties:
                    id:
                      type: string
                      format: uuid
                      description: ID места
                      example: "a1b2c3d4-e5f6-4g7h-8i9j-0k1l2m3n4o5p"
                    name:
                      type: string
                      description: Название места
                      example: "Колизей"
                    category:
                      type: string
                      enum: [attraction, restaurant, hotel, activity, transport, other]
                      description: Категория места
                      example: "attraction"
                    location:
                      type: object
                      required:
                        - lat
                        - lng
                      properties:
                        lat:
                          type: number
                          format: float
                          description: Широта
                          example: 41.8902
                        lng:
                          type: number
                          format: float
                          description: Долгота
                          example: 12.4922
                    order:
                      type: integer
                      description: Порядковый номер места в дне
                      example: 1
                    startTime:
                      type: string
                      format: time
                      nullable: true
                      description: Время начала
                      example: "09:00"
                    endTime:
                      type: string
                      format: time
                      nullable: true
                      description: Время окончания
                      example: "11:00"
          description: Список дней с данными для карты

    Pagination:
      type: object
      required:
        - total
        - page
        - limit
      properties:
        total:
          type: integer
          description: Общее количество записей
          example: 100
        page:
          type: integer
          description: Текущая страница
          example: 1
        limit:
          type: integer
          description: Количество записей на странице
          example: 20

    Error:
      type: object
      required:
        - statusCode
        - message
      properties:
        statusCode:
          type: integer
          description: HTTP статус код
          example: 400
        message:
          type: string
          description: Сообщение об ошибке
          example: "Неверный запрос"
        errors:
          type: array
          items:
            type: object
            required:
              - field
              - message
            properties:
              field:
                type: string
                description: Поле с ошибкой
                example: "rating"
              message:
                type: string
                description: Сообщение об ошибке для поля
                example: "Значение должно быть между 1 и 5"
          description: Детальное описание ошибок валидации

security:
  - bearerAuth: []
