openapi: 3.0.0
info:
  title: Сервис интеграции с внешними системами (external)
  description: |
    API для взаимодействия с внешними сервисами, включая картографические сервисы и ИИ.
    Обеспечивает поиск мест по названию и генерацию списков вещей для путешествий с помощью ИИ.
  version: 1.0.0
  contact:
    name: Travel Planner API Support
    email: support@travelplanner.app
servers:
  - url: https://api.travelplanner.app/external
    description: Основной сервер
tags:
  - name: places
    description: Операции, связанные с поиском и получением информации о местах
  - name: ai
    description: Операции, связанные с использованием ИИ для генерации контента
paths:
  /places/search:
    get:
      tags:
        - places
      summary: Поиск мест по названию
      description: Возвращает список мест, соответствующих поисковому запросу
      operationId: searchPlaces
      parameters:
        - name: query
          in: query
          description: Поисковый запрос (название места)
          required: true
          schema:
            type: string
        - name: lat
          in: query
          description: Широта для поиска мест рядом с заданной точкой
          required: false
          schema:
            type: number
            format: double
        - name: lon
          in: query
          description: Долгота для поиска мест рядом с заданной точкой
          required: false
          schema:
            type: number
            format: double
        - name: radius
          in: query
          description: Радиус поиска в метрах (по умолчанию 5000)
          required: false
          schema:
            type: integer
            default: 5000
        - name: limit
          in: query
          description: Максимальное количество результатов (по умолчанию 20)
          required: false
          schema:
            type: integer
            default: 20
            maximum: 50
        - name: category
          in: query
          description: Категория места для фильтрации результатов
          required: false
          schema:
            type: string
            enum: [restaurant, cafe, hotel, museum, attraction, park, shop, transport]
      responses:
        '200':
          description: Успешный поиск мест
          content:
            application/json:
              schema:
                type: object
                properties:
                  places:
                    type: array
                    items:
                      $ref: '#/components/schemas/Place'
                  total:
                    type: integer
                    description: Общее количество найденных мест
        '400':
          description: Некорректный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Слишком много запросов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /places/{placeId}:
    get:
      tags:
        - places
      summary: Получение детальной информации о месте
      description: Возвращает подробную информацию о месте по его ID
      operationId: getPlaceDetails
      parameters:
        - name: placeId
          in: path
          description: ID места
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Успешное получение информации о месте
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaceDetails'
        '404':
          description: Место не найдено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Слишком много запросов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /places/autocomplete:
    get:
      tags:
        - places
      summary: Автозаполнение для поиска мест
      description: Возвращает предложения для автозаполнения при вводе названия места
      operationId: autocompletePlaces
      parameters:
        - name: input
          in: query
          description: Частичный ввод для автозаполнения
          required: true
          schema:
            type: string
        - name: lat
          in: query
          description: Широта для контекстного поиска
          required: false
          schema:
            type: number
            format: double
        - name: lon
          in: query
          description: Долгота для контекстного поиска
          required: false
          schema:
            type: number
            format: double
        - name: limit
          in: query
          description: Максимальное количество предложений (по умолчанию 5)
          required: false
          schema:
            type: integer
            default: 5
            maximum: 10
      responses:
        '200':
          description: Успешное получение предложений для автозаполнения
          content:
            application/json:
              schema:
                type: object
                properties:
                  suggestions:
                    type: array
                    items:
                      $ref: '#/components/schemas/PlaceSuggestion'
        '400':
          description: Некорректный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Слишком много запросов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /places/nearby:
    get:
      tags:
        - places
      summary: Поиск мест поблизости
      description: Возвращает список мест рядом с указанными координатами
      operationId: getNearbyPlaces
      parameters:
        - name: lat
          in: query
          description: Широта центральной точки
          required: true
          schema:
            type: number
            format: double
        - name: lon
          in: query
          description: Долгота центральной точки
          required: true
          schema:
            type: number
            format: double
        - name: radius
          in: query
          description: Радиус поиска в метрах (по умолчанию 1000)
          required: false
          schema:
            type: integer
            default: 1000
            maximum: 10000
        - name: limit
          in: query
          description: Максимальное количество результатов (по умолчанию 20)
          required: false
          schema:
            type: integer
            default: 20
            maximum: 50
        - name: categories
          in: query
          description: Категории мест для фильтрации (разделенные запятыми)
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Успешный поиск мест поблизости
          content:
            application/json:
              schema:
                type: object
                properties:
                  places:
                    type: array
                    items:
                      $ref: '#/components/schemas/Place'
                  total:
                    type: integer
                    description: Общее количество найденных мест
        '400':
          description: Некорректный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Слишком много запросов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /ai/packing-list:
    post:
      tags:
        - ai
      summary: Генерация списка вещей для путешествия
      description: Использует ИИ для создания персонализированного списка вещей на основе параметров путешествия
      operationId: generatePackingList
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PackingListRequest'
      responses:
        '200':
          description: Успешная генерация списка вещей
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackingListResponse'
        '400':
          description: Некорректный запрос
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Слишком много запросов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /ai/packing-list/templates:
    get:
      tags:
        - ai
      summary: Получение доступных шаблонов списков вещей
      description: Возвращает список доступных шаблонов для создания списков вещей
      operationId: getPackingListTemplates
      responses:
        '200':
          description: Успешное получение шаблонов
          content:
            application/json:
              schema:
                type: object
                properties:
                  templates:
                    type: array
                    items:
                      $ref: '#/components/schemas/PackingListTemplate'
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /ai/packing-list/template/{templateId}:
    get:
      tags:
        - ai
      summary: Получение содержимого шаблона списка вещей
      description: Возвращает содержимое конкретного шаблона по его ID
      operationId: getPackingListTemplateContent
      parameters:
        - name: templateId
          in: path
          description: ID шаблона
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Успешное получение содержимого шаблона
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackingListTemplateContent'
        '404':
          description: Шаблон не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  schemas:
    Place:
      type: object
      properties:
        id:
          type: string
          description: Уникальный идентификатор места
        name:
          type: string
          description: Название места
        address:
          type: string
          description: Адрес места
        lat:
          type: number
          format: double
          description: Широта
        lon:
          type: number
          format: double
          description: Долгота
        category:
          type: string
          description: Категория места
        rating:
          type: number
          format: float
          description: Рейтинг места (от 0 до 5)
        previewUrl:
          type: string
          description: URL превью-изображения места
        distanceMeters:
          type: integer
          description: Расстояние до места в метрах (если применимо)
      required:
        - id
        - name
        - lat
        - lon

    PlaceDetails:
      type: object
      properties:
        id:
          type: string
          description: Уникальный идентификатор места
        name:
          type: string
          description: Название места
        address:
          type: string
          description: Полный адрес места
        description:
          type: string
          description: Описание места
        lat:
          type: number
          format: double
          description: Широта
        lon:
          type: number
          format: double
          description: Долгота
        category:
          type: string
          description: Категория места
        subcategories:
          type: array
          items:
            type: string
          description: Подкатегории места
        rating:
          type: number
          format: float
          description: Рейтинг места (от 0 до 5)
        phone:
          type: string
          description: Контактный телефон
        website:
          type: string
          description: Веб-сайт
        openingHours:
          type: array
          items:
            type: object
            properties:
              day:
                type: string
                enum: [Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, Sunday]
              open:
                type: string
                pattern: '^\d{2}:\d{2}$'
                description: Время открытия в формате HH:MM
              close:
                type: string
                pattern: '^\d{2}:\d{2}$'
                description: Время закрытия в формате HH:MM
              closed:
                type: boolean
                description: Флаг закрытия в этот день
        photos:
          type: array
          items:
            type: object
            properties:
              url:
                type: string
                description: URL фотографии
              width:
                type: integer
                description: Ширина изображения
              height:
                type: integer
                description: Высота изображения
        sourceSystem:
          type: string
          description: Исходная система данных (OpenStreetMap, GoogleMaps и т.д.)
        externalId:
          type: string
          description: ID места в исходной системе
        externalUrl:
          type: string
          description: URL для просмотра места в исходной системе
      required:
        - id
        - name
        - lat
        - lon

    PlaceSuggestion:
      type: object
      properties:
        id:
          type: string
          description: Уникальный идентификатор места
        name:
          type: string
          description: Название места
        address:
          type: string
          description: Краткий адрес места
        category:
          type: string
          description: Категория места
        previewUrl:
          type: string
          description: URL превью-изображения места
      required:
        - id
        - name

    PackingListRequest:
      type: object
      properties:
        destination:
          type: string
          description: Место назначения (страна, город)
        duration:
          type: integer
          description: Продолжительность поездки в днях
        season:
          type: string
          enum: [winter, spring, summer, fall]
          description: Время года поездки
        travelType:
          type: string
          enum: [beach, city, mountains, hiking, business, camping]
          description: Тип путешествия
        participants:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum: [adult, child, infant, pet]
              count:
                type: integer
                minimum: 1
          description: Информация об участниках поездки
        activities:
          type: array
          items:
            type: string
          description: Планируемые активности
        transportation:
          type: array
          items:
            type: string
            enum: [plane, train, car, bus, ship, bicycle, motorcycle]
          description: Виды транспорта, которые будут использоваться
        accommodation:
          type: string
          enum: [hotel, hostel, apartment, camping, friends]
          description: Тип проживания
        additionalInfo:
          type: string
          description: Дополнительная информация, которая может быть полезна для генерации списка
      required:
        - destination
        - duration
        - season
        - travelType

    PackingListResponse:
      type: object
      properties:
        categories:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: Название категории (например, 'Одежда', 'Электроника', 'Документы')
              items:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                      description: Название предмета
                    description:
                      type: string
                      description: Описание или комментарий к предмету
                    priority:
                      type: string
                      enum: [essential, recommended, optional]
                      description: Приоритет предмета
                    quantity:
                      type: integer
                      description: Рекомендуемое количество
        suggestions:
          type: array
          items:
            type: string
          description: Дополнительные рекомендации для этой конкретной поездки
        totalItems:
          type: integer
          description: Общее количество предметов в списке
      required:
        - categories
        - totalItems

    PackingListTemplate:
      type: object
      properties:
        id:
          type: string
          description: Уникальный идентификатор шаблона
        name:
          type: string
          description: Название шаблона
        description:
          type: string
          description: Описание шаблона
        category:
          type: string
          description: Категория шаблона (например, 'Пляжный отдых', 'Горный поход')
        imageUrl:
          type: string
          description: URL изображения для шаблона
        itemCount:
          type: integer
          description: Количество предметов в шаблоне
      required:
        - id
        - name
        - category

    PackingListTemplateContent:
      type: object
      properties:
        id:
          type: string
          description: Уникальный идентификатор шаблона
        name:
          type: string
          description: Название шаблона
        description:
          type: string
          description: Описание шаблона
        categories:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: Название категории
              items:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                      description: Название предмета
                    description:
                      type: string
                      description: Описание или комментарий к предмету
                    priority:
                      type: string
                      enum: [essential, recommended, optional]
                      description: Приоритет предмета
                    quantity:
                      type: integer
                      description: Рекомендуемое количество
        totalItems:
          type: integer
          description: Общее количество предметов в шаблоне
      required:
        - id
        - name
        - categories
        - totalItems

    Error:
      type: object
      properties:
        code:
          type: string
          description: Код ошибки
        message:
          type: string
          description: Сообщение об ошибке
        details:
          type: object
          description: Дополнительные детали ошибки (опционально)
      required:
        - code
        - message

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - bearerAuth: []
